<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="teamleader" (click)="addPersonToTeam()">
        <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Team View</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="card-background-page">
  <ion-card >
    <img src="{{selectedItem.photoUrl}}"/>
    <div class="card-title">{{selectedItem.teamName}} </div>
    <div class="card-subtitle">{{selectedItem.team.length}} Members</div>
  </ion-card>
  <!--*ngFor="let item of teams"-->
  <button ion-button *ngIf="teamleader" [outline]="true" [round]="true" (click)="addActivitiesToTeam()">Add activities</button>
  <ion-list>
    <ion-item *ngFor="let it of selectedItem.team"  >

       <ion-avatar (click)="goToPersonDetails(it)" item-left >
         <img src="{{it.photoUrl}}">
       </ion-avatar>
       <h2>{{it.firstname}}</h2>
       <h3>{{it.email}}</h3>
       <p>worker at {{it.teamName}}</p>

      <p>{{it.phone}} <span style="margin-left:45%;"><ion-icon style="font-size:x-large;" ios="ios-call" md="md-call" (click)="call(it.phone)">&nbsp;&nbsp;</ion-icon><ion-icon style="font-size:x-large;" (click)="sendMessage(it.phone)" ios="ios-chatboxes" md="md-chatboxes"></ion-icon></span></p>
    </ion-item>

  </ion-list>
  <ion-list>
    <h3>Activities list</h3>
    <ion-card>
    <ion-item *ngFor="let activity of activitiesList">
      <p style="color:#2980FF;font-weight:600;">Activity name:{{activity.name}}</p>
      <p style="color:#2980FF;font-weight:600;" >Location:{{activity.location}}</p>
      <p style="color:#2980FF;font-weight:600;">Remarks:{{activity.remarks}}</p>
      <p style="color:#2980FF;font-weight:600;">Start at:<span style="color:#3eff0b">{{dateConverter(activity.dateFrom)}}</span></p>
      <p style="color:#2980ff;font-weight:600;">End at:<span style="color:#ff000b">{{dateConverter(activity.dateTo)}}</span></p>
    </ion-item>
      <br>
      </ion-card>
    <ion-item *ngIf="activitiesList.length==0">
      <p style="color:red">No activities added for this period!</p>
    </ion-item>
  </ion-list>
</ion-content>
